{"openapi": "3.0.3", "info": {"description": "Welcome to the Core Transaction API. This API provides the foundational services for managing financial transactions, user configuration, and advanced payment features. Key capabilities include generating secure upload URLs, managing subledgers, and searching across all transaction types (`ICL`, `ACH`, or `WIRE`).\n\n---\n\n### Quick Navigation\nUse the `>` icon next to any object to expand it and view detailed documentation.\n\n---\n\n### Data Security: Masking\nTo protect sensitive information, certain values in `GET` endpoint responses are masked with the `\u2726` symbol. This security feature prevents unintentional exposure of data. Specific permissions may be required to view unmasked data.\n\n---\n\n### Batch & Transaction Lifecycles\nBatches and transactions progress through a defined lifecycle, reflected by their `state`:\n\n1. `created`: The initial state upon successful creation.\n2. `processing`: The state indicating the item is actively being processed.\n3. `under_review`: The transaction is under review and might take longer to be processed, or might fail\n4. `processed`: The semi-terminal state for successfully processed items.\n5. `posted`: The terminal state for successfully processed and posted items. Confirming when the transaction has fully settled\u2014either when incoming funds are reflected in your account balance or when outgoing funds are debited from your account.\n6. `failed`: An errored state, indicating the transaction could not be completed and requires attention.\n7. `canceled`: The state indicating the user canceled before processing.\n\n---\n\n**Start State:**\n\n* `created`\n\n**Transitions:**\n\n* `created` \u2192 `processing` \u2192 `...`\n* `created` \u2192 `under_review` \u2192 `...`\n* `created` \u2192 `processed` \u2192 `...`\n* `created` \u2192 `failed`\n* `created` \u2192 `canceled`\n\n* `processing` \u2192 `under_review` \u2192 `...`\n* `processing` \u2192 `processed` \u2192 `...`\n* `processing` \u2192 `failed`\n\n* `under_review` \u2192 `processing` \u2192 `...`\n* `under_review` \u2192 `processed` \u2192 `...`\n* `under_review` \u2192 `failed`\n\n* `processed` \u2192 `posted`\n\n**Final States:**\n\n* `posted`\n* `failed`\n* `canceled`\n\n**canceled** is in general set by the client, but can also be set by the bank. It's only possible to cancel a batch in state **created**.\n\n---\n\n### Core Features\n\n**Virtual Accounts**\n\nVirtual accounts are a powerful feature for tracking payments from many sources into a single real bank account. You can generate numerous unique account numbers that are linked to one of your primary \"core\" accounts.\n\n* **How it Works:** At the company level, a unique 4-digit `virtual_identifier` is assigned. The system then automatically generates 12-digit virtual account numbers by combining this identifier with a unique 8-digit sequence (e.g., `5000` + `00000001` = `500000000001`).\n* **Transaction Handling:** When a payment is made to a virtual account, the system automatically maps it to the parent core account for funding, while preserving the original virtual account details for easy tracking and reconciliation.\n* **Use Case:** Ideal for businesses needing to assign unique account numbers to their own sub-clients, invoices, or services to simplify payment identification.\n\n**Book Transfers**\n\nFor transactions between two internal accounts at the bank held by the same company, the system can perform a book transfer. This process is faster and more cost-effective than a standard external ACH transfer. Internally, these transfers leverage the ACH format for consistency.\n\n**Duplicate Detection**\n\nTo prevent errors and accidental resubmissions, the system automatically checks for duplicate transactions upon creation. If a transaction with the same core details already exists, the API will return an error, ensuring data integrity.\n\n**Webhooks**\n\nWebhooks allow you to receive real-time notifications for events happening in our system. By creating a subscription with a URL and an event filter (using regular expressions), you can track the lifecycle of your transactions as they occur.\n\n* **Authentication:** To ensure security, every webhook payload is signed with an HMAC-SHA256 hash. You can verify the signature using the unique secret key provided with each subscription.\n* **Reliability:** If an event delivery fails, our system will retry up to 10 times over 12 hours with exponential backoff intervals, ensuring you don't miss critical updates.\n* **Troubleshooting:** Each subscription includes an event trace, allowing you to inspect the delivery history and diagnose any issues with your endpoint.\n\n**Reliability & Security**\n\nWebhooks are emitted in guaranteed order (FIFO) based on the subscription ID and the transaction ID. Non 2xx response status codes will trigger the retry mechanism, which might hold back other messages of the same transaction.\n\nOur platform is engineered for high availability and resilience, featuring multi-region disaster recovery capabilities to ensure business continuity. We employ advanced, automated security monitoring and a Web Application Firewall (WAF) to protect against common and sophisticated threats.\n\n---\n\n### Workflows for Batch & Transaction Creation\nThe API offers flexible workflows to suit different operational needs:\n\n**1. Direct Processing:**\n\n* **Endpoint:** `file/create`\n* **Process:** File parsing, transaction creation, and processing are handled synchronously.\n* **Use Case:** Best for immediate processing when you need instant confirmation, but the entire operation must complete within 30 seconds.\n\n**2. Delayed Asynchronous Processing:**\n\n* **Endpoint:** `file/create` with the `delayed` parameter.\n* **Process:** File parsing and transaction creation are synchronous. Processing is performed asynchronously after a pre-configured delay.\n* **Use Case:** Ideal when immediate processing is not critical. This workflow provides a valuable cancellation window before the transaction is finalized.\n* **Note:** This is a company-level setting that must be enabled by our team.\n\n**3. Bulk Processing (Direct):**\n\n* **Endpoint:** `file/create-bulk`\n* **Process:** Only file parsing is synchronous. Transaction creation and processing are handled asynchronously in the background.\n* **Use Case:** The perfect solution for very large files. It avoids API timeouts by providing an immediate response after parsing and offloading the heavy work.\n\n**4. Bulk Processing (Delayed):**\n\n* **Endpoint:** `file/create-bulk` with the `delayed` parameter.\n* **Process:** Only file parsing is synchronous. Transaction creation and processing are both handled asynchronously and after a delay.\n* **Use Case:** Offers maximum flexibility for large batches, preventing system strain and providing a cancellation window.\n* **Note:** This is a company-level setting that must be enabled by our team.", "version": "v1", "title": "Base-API (Sandbox)"}, "servers": [{"url": "https://sandbox-base-api.gibank-api.com"}], "tags": [{"name": "API Spec", "description": "Get the API specification.\n"}, {"name": "API Status", "description": "Get information about the API status.\n"}, {"name": "Task Dashboard", "description": "Everything related to the Task Dashboard.\n"}, {"name": "API Keys", "description": "API Keys should be managed using the dashbaord.\n"}, {"name": "Session & Traces", "description": "Everything related to API sessions.\n"}, {"name": "Balances", "description": "Everything related to balances.\n\n***Disclaimer - Balance values exposed through the API represent GIB's current system-of-record view of an account, including pending, memo-posted, and hard-posted transactions. These values are informational and provided to assist you in operating your program. Depending on your agreement with Global Innovations Bank, you may be solely responsible for determining and maintaining accurate balances for your end customers. The API-reported balances do not replace, amend, or supersede any obligations in your contract and, unless otherwise noted, should not be relied upon as the authoritative balance for reconciliation or compliance purposes.***\n\nFor more information, see our [documentation](docs/concepts/balances.html)\n"}, {"name": "Users", "description": "Everything related to registered API users.\n"}, {"name": "User Accounts", "description": "Everything related to user accounts of API users.\n"}, {"name": "Companies", "description": "Everything related to registered companies.\n"}, {"name": "Tools", "description": "Everything related to different tools around the APIs.\n"}, {"name": "Files", "description": "Everything related to file uploads.\n\nWhen dealing with intricate data regarding our parse and validate or create transactions endpoints, you have two main avenues: Utilizing the `data` key or the `url` key.\n  - `data` implies that you can transmit the JSON object directly within the body.\n  - `url` necessitates an initial step of uploading the raw/JSON file.\n\nIn essence, users can choose from three distinct methods to relay data:\n  - Direct input into the `data` key.\n  - By uploading a structured JSON file and using the `url` key.\n  - By uploading a raw file and using the `url` key.\n\nWe strongly recommend the upload mechanism when working with ICL files, as they tend to be considerably large in size.\n\nThat method is also needed when creating attachments.\n\nHere is an example implementation to upload a file using `python` `requests`:\n```python\nimport requests\nfrom os.path import splitext\n\ncontent_type = splitext(file_path)[1].lstrip(\".\")\n\nresp = requests.get(f\"{BASE_API_URL}/file/upload_url\", params={\"content_type\": content_type})\nupload_url = resp.json()[\"url\"]\n\nwith open(file_path, 'rb') as file:\n    resp = requests.put(upload_url, data=file, headers={'Content-Type': content_type})\n    try:\n        resp.raise_for_status()\n    except:\n        raise Exception(str(resp.content.decode('utf8')))\n\n```\n\nor `C#`\n```cs\nfilePath = \"test.pdf\"\nvar contentType = \"pdf\";\n\nusing (HttpClient httpClient = new HttpClient())\nusing (FileStream fileStream = new FileStream(filePath, FileMode.Open, FileAccess.Read))\n{\n    StreamContent content = new StreamContent(fileStream);\n    content.Headers.TryAddWithoutValidation(\"Content-Type\", contentType);\n    var uploadResponse = httpClient.PutAsync(uploadUrl, content).Result;\n    if (uploadResponse.IsSuccessStatusCode)\n        throw new System.Exception($\"Failed to upload. Status: {uploadResponse.StatusCode}, Error: {uploadResponse.Content}\");\n}\n\n```\n"}, {"name": "Tasks", "description": "Everything related to tasks.\n"}, {"name": "Batches", "description": "Batches include one or more Transactions within a single initiated payment file (ie ACH, wire, ICL).\n"}, {"name": "Transactions", "description": "Transactions are the immutable additions and removals of money from your bank account. They're the equivalent of line items on your bank statement.\n"}, {"name": "Webhooks", "description": "Webhooks allow you to efficently track transaction/subclient/... actions that happen in our system. Our API allows you to create subscriptions based on an event type filter based on [Regular expression](https://en.wikipedia.org/wiki/Regular_expression), so you track exactly what you are interested in.\nA subscription is created with an URL, which is called (a `HTTP-POST` is done) if the subscription filter matches the event type.\n\n**Event object**\n\nThe event payload consists of the following structure:\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookPayload\"/>\n\nYou can see that entities might also fire `updated`, which isn't a state (Lifecycle) itself, but a special event type. Updates on transactions are rare and mean that a transaction that is already in the system is either manually assigned to you, or was updated due to a specific reason. The transaction history can be checked to understand what happened.\n\nSo every webhook event that comes into your system has such a payload.\n\nThe body depends on the event type:\n\n**For transaction `created`, `processing`, `under_review`, `processed`, `posted`, `failed`, `canceled`, the body contains**: `{\"transaction\": transaction, \"state_change_reason\": \"\", \"deleted_change_reason\": \"\"}`, where `state_change_reason` is present if the state is `canceled` or `failed`, and `deleted_change_reason` if the deleted flag changed. `transaction` is:\n<SchemaDefinition schemaRef=\"#/components/schemas/Transaction\"/>\n\n**For transaction `create_failed`, the body contains**:\n<SchemaDefinition schemaRef=\"#/components/schemas/CreateFailedWebhookBody\"/>\n\n**For subclient, the body contains**: `{\"subclient\": subclient}`, where `subclient` is:\n<SchemaDefinition schemaRef=\"#/components/schemas/Subclient\"/>\n\n**Authentication**\n\nTo verify that a webhook event was actually sent by us, every webhook event payload is signed with a signature that is passed through as the HTTP header `Signature`. The signature is a hash-based message authentication code ([HMAC](https://en.wikipedia.org/wiki/HMAC)) with [SHA-256](https://en.wikipedia.org/wiki/SHA-2), by applying the Webhook Subscription's signing secret as the key, and the JSON payload (i.e., the whole request body as JSON string) as the message.\n\nBefore you can verify signatures, you need to retrieve your subscription's secret. We generate a unique secret key for each subscription.\n\nOnce you have the subscription secret and the raw request body content of a webhook, you can compute an HMAC with the SHA256 hash function, by using the secret as the key and request body as the message. The result should be equal to the value of the `Signature` header for a valid webhook event sent by us.\n\nHere is an example implementation to generate the signature:\n```python\ndef generate_signature(secret_key_sha256_b64, data_bytes):\n    \"\"\"\n    Generate a HMAC signature based on a base64 encoded SHA256 secret key and a data bytes (request payload).\n    \"\"\"\n\n    secret_key = base64.b64decode(secret_key_sha256_b64)\n    signature = hmac.new(secret_key, data_bytes, hashlib.sha256).hexdigest()\n    return signature\n\n```\n\nWe also highly suggest you whitelisting our IP addresses: `44.217.31.201`, `44.214.83.10`\n\n**Order**\n\nWebhooks are emitted in guaranteed order (FIFO) based on the subscription ID and the transaction/subclient/... ID. Non 2xx response status codes will trigger the retry mechanism, which might hold back other messages of the same transaction/subclient/....\n\n**Retries and backoff**\n\nAfter an event is delivered to a webhook endpoint, and our system receives a 2XX HTTP response within 10 seconds, that event is considered to have been delivered successfully. If an event delivery failed, our system will retry up to 10 times within 12 hours with exponential backoffs. An event may occasionally be delivered multiple times to a webhook endpoint with the same unique event ID. We advise you to guard against duplicated event receipts by making your event processing idempotent. In addition, we suggest you return a 2XX HTTP response right after an event is received, before you actually process it in your system, to avoid any potential timeout errors.\n\nBackoff intervals are: 2 seconds, 5 seconds, 10 seconds, 10 minutes, 30 minutes, 1 hour, 3 hours, 6 hours, 12 hours\n\n**Troubleshooting**\n\nEvery subscription has an event trace, where you can check if a webhook has been triggered and if it has been successfully delivered. Every try, even if failed, will be traced.\n"}, {"name": "Subclients", "description": "A Subclient is the Business or Natural person that initiates or uses the services.\n"}, {"name": "Subclient Accounts", "description": "Accounts assigned to subclients\n"}, {"name": "Subclient UBOs", "description": "Subclient Owners are the Ultimate Beneficial Owners (UBOs) of a Business Subclient.\n"}, {"name": "Subtransactions", "description": "Subtransactions are individual transactions made by Subclients. Subtransactions may or may not be accompanied directly by a payment, such as an ACH, and thus includes the details of any \"nested\" payments..\n"}, {"name": "Addresses", "description": "Everything related to Addresses.\n"}, {"name": "Reconciliation", "description": "Everything related to Reconciliation.\n\nReconciliation is regularly performed by GIB, comparing API data against Client data. These endpoints allow the Client to send required reconciliation data to GIB.\n\n### Reconciliation Process\nFintech clients utilizing virtual accounts and who are responsible for determining balance of virtual accounts must provide daily reconciliation data to the bank. GIB uses this data to reconcile against our internal records to ensure accuracy and verify adequate omnibus account funding. The following endpoints enable clients to submit the required reconciliation data.\n\n**Daily Client Data Requirements**\n\n**Step 1: Provide Expected Balances**\n* Submit your expected virtual account balances for ALL virtual accounts you control\n* Include accounts even if there were no balance changes during the period\n\n**Step 2: Provide Transaction List**\n* Submit all transactions you processed between 5:40 PM (previous day) through 5:40 PM (current day)\n\n**When to Submit:**\n* Submit your data after 6:00 PM Central Time each day\n* This timing allows GIB to complete our daily balance recalculation at 5:40 PM before you submit your reconciliation data\n\n**What Happens Next:**\n1. You submit your balance data and transaction list via the designated endpoints\n2. Our reconciliation team compares your data against our records\n3. If discrepancies are found, our reconciliation team will contact you for corrections\n"}, {"name": "RBAC Roles", "description": "Everything related to role based access control roles.\n"}], "paths": {"/swagger.json": {"get": {"tags": ["API Spec"], "summary": "API Spec: Get OpenAPI JSON", "description": "Get OpenAPI spec file (JSON) \n\n***Available by public without authorization.***\n", "operationId": "getApiSpec", "security": [], "responses": {"200": {"description": "Operation successful", "content": {"application/json": {"schema": {"type": "object"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/swagger.json\");\nvar request = new RestRequest(Method.GET);\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/swagger.json\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/swagger.json\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/swagger.json\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/swagger.json\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/swagger.json\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/swagger.json\",\n  \"headers\": {}\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/swagger.json\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nconn.request(\"GET\", \"/swagger.json\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/swagger.json\"\n\nresponse = requests.request(\"GET\", url)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/swagger.json\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method GET \\\n  --output-document \\\n  - https://sandbox-base-api.gibank-api.com/swagger.json"}, {"lang": "Shell + Curl", "source": "curl --request GET \\\n  --url https://sandbox-base-api.gibank-api.com/swagger.json"}]}}, "/ping": {"get": {"tags": ["API Status"], "summary": "API Status: Simple Ping", "description": "Lightweight endpoint to verify API availability\n\n***Available by public without authorization.***\n", "operationId": "ping", "security": [], "responses": {"200": {"description": "OK"}, "400": {"description": "Bad Request"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/ping\");\nvar request = new RestRequest(Method.GET);\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/ping\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/ping\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/ping\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/ping\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/ping\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/ping\",\n  \"headers\": {}\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/ping\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nconn.request(\"GET\", \"/ping\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/ping\"\n\nresponse = requests.request(\"GET\", url)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/ping\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method GET \\\n  --output-document \\\n  - https://sandbox-base-api.gibank-api.com/ping"}, {"lang": "Shell + Curl", "source": "curl --request GET \\\n  --url https://sandbox-base-api.gibank-api.com/ping"}]}}, "/health": {"get": {"tags": ["API Status"], "summary": "API Status: Health Check", "description": "Overall health check of all components.\n\n***Available by public without authorization.***\n", "operationId": "checkHealth", "security": [], "responses": {"200": {"description": "All components disabled or healthy", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HealthResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "503": {"description": "One or more components degraded or unhealthy", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HealthResponse"}}}}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/health\");\nvar request = new RestRequest(Method.GET);\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/health\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/health\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/health\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/health\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/health\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/health\",\n  \"headers\": {}\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/health\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nconn.request(\"GET\", \"/health\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/health\"\n\nresponse = requests.request(\"GET\", url)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/health\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method GET \\\n  --output-document \\\n  - https://sandbox-base-api.gibank-api.com/health"}, {"lang": "Shell + Curl", "source": "curl --request GET \\\n  --url https://sandbox-base-api.gibank-api.com/health"}]}}, "/health/{component}": {"get": {"tags": ["API Status"], "summary": "API Status: Health Check (Component)", "description": "Check health of a specific component\n\n***Available by public without authorization.***\n", "operationId": "checkHealthComponent", "parameters": [{"name": "component", "in": "path", "description": "Component to check", "required": true, "schema": {"type": "string", "enum": ["database", "icl_service", "icl_automation", "ach_service", "ach_automation", "wire_service", "balances", "core"]}}], "security": [], "responses": {"200": {"description": "Component is disabled or healthy", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HealthResult"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "503": {"description": "Component is degraded or unhealthy", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HealthResult"}}}}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D\");\nvar request = new RestRequest(Method.GET);\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/health/%7Bcomponent%7D\",\n  \"headers\": {}\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nconn.request(\"GET\", \"/health/%7Bcomponent%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D\"\n\nresponse = requests.request(\"GET\", url)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method GET \\\n  --output-document \\\n  - https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D"}, {"lang": "Shell + Curl", "source": "curl --request GET \\\n  --url https://sandbox-base-api.gibank-api.com/health/%7Bcomponent%7D"}]}}, "/dashboard/task": {"get": {"tags": ["Task Dashboard"], "summary": "Task Dashboard: Get", "description": "Get Task Dashboard to show Tasks\n", "operationId": "getTaskDashboard", "security": [{"CustomAPIAuthorizer": []}], "responses": {"200": {"description": "Operation successful", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DashboardResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/dashboard/task\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/dashboard/task\"),\n    Headers =\n    {\n        { \"Authorization\", \"REPLACE_KEY_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/dashboard/task\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/dashboard/task\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/dashboard/task\")\n  .header(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/dashboard/task\");\nxhr.setRequestHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/dashboard/task\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/dashboard/task\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/dashboard/task\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/dashboard/task\"\n\nheaders = {\"Authorization\": \"REPLACE_KEY_VALUE\"}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/dashboard/task\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method GET \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - https://sandbox-base-api.gibank-api.com/dashboard/task"}, {"lang": "Shell + Curl", "source": "curl --request GET \\\n  --url https://sandbox-base-api.gibank-api.com/dashboard/task \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"}]}}, "/apikey": {"get": {"tags": ["API Keys"], "summary": "API Keys: Get", "description": "Get API Keys. Useful to see which API Keys have been created.\n\n***Requires authorization.***\n", "operationId": "getApiKeys", "security": [{"CustomAPIAuthorizer": []}], "responses": {"200": {"description": "Operation successful", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ApiKeyResponse"}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/apikey\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/apikey\"),\n    Headers =\n    {\n        { \"Authorization\", \"REPLACE_KEY_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/apikey\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/apikey\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/apikey\")\n  .header(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/apikey\");\nxhr.setRequestHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/apikey\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/apikey\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/apikey\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/apikey\"\n\nheaders = {\"Authorization\": \"REPLACE_KEY_VALUE\"}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/apikey\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method GET \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - https://sandbox-base-api.gibank-api.com/apikey"}, {"lang": "Shell + Curl", "source": "curl --request GET \\\n  --url https://sandbox-base-api.gibank-api.com/apikey \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"}]}, "post": {"tags": ["API Keys"], "summary": "API Key: Create", "description": "Create a new API Key.\n\n***Duplicate (Conflict) Check:*** (/)\n\n***Requires authorization.***\n", "operationId": "createApiKey", "security": [{"CustomAPIAuthorizer": []}], "requestBody": {"description": "Content of the API Key", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiKeyCreate"}}}}, "responses": {"200": {"description": "Operation successful", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiKeyResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/apikey\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\nrequest.AddParameter(\"application/json\", \"{\\\"description\\\":\\\"Nightly batch processing script\\\",\\\"active\\\":true,\\\"expiration_date_time\\\":\\\"2026-01-01T00:00:00.000Z\\\",\\\"ip_whitelist\\\":\\\"203.0.113.42, 198.51.100.0/24\\\",\\\"ip_blacklist\\\":\\\"192.0.2.10\\\"}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/apikey\"),\n    Headers =\n    {\n        { \"Authorization\", \"REPLACE_KEY_VALUE\" },\n    },\n    Content = new StringContent(\"{\\\"description\\\":\\\"Nightly batch processing script\\\",\\\"active\\\":true,\\\"expiration_date_time\\\":\\\"2026-01-01T00:00:00.000Z\\\",\\\"ip_whitelist\\\":\\\"203.0.113.42, 198.51.100.0/24\\\",\\\"ip_blacklist\\\":\\\"192.0.2.10\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/apikey\"\n\n\tpayload := strings.NewReader(\"{\\\"description\\\":\\\"Nightly batch processing script\\\",\\\"active\\\":true,\\\"expiration_date_time\\\":\\\"2026-01-01T00:00:00.000Z\\\",\\\"ip_whitelist\\\":\\\"203.0.113.42, 198.51.100.0/24\\\",\\\"ip_blacklist\\\":\\\"192.0.2.10\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"description\\\":\\\"Nightly batch processing script\\\",\\\"active\\\":true,\\\"expiration_date_time\\\":\\\"2026-01-01T00:00:00.000Z\\\",\\\"ip_whitelist\\\":\\\"203.0.113.42, 198.51.100.0/24\\\",\\\"ip_blacklist\\\":\\\"192.0.2.10\\\"}\");\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/apikey\")\n  .post(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.post(\"https://sandbox-base-api.gibank-api.com/apikey\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .body(\"{\\\"description\\\":\\\"Nightly batch processing script\\\",\\\"active\\\":true,\\\"expiration_date_time\\\":\\\"2026-01-01T00:00:00.000Z\\\",\\\"ip_whitelist\\\":\\\"203.0.113.42, 198.51.100.0/24\\\",\\\"ip_blacklist\\\":\\\"192.0.2.10\\\"}\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = JSON.stringify({\n  \"description\": \"Nightly batch processing script\",\n  \"active\": true,\n  \"expiration_date_time\": \"2026-01-01T00:00:00.000Z\",\n  \"ip_whitelist\": \"203.0.113.42, 198.51.100.0/24\",\n  \"ip_blacklist\": \"192.0.2.10\"\n});\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://sandbox-base-api.gibank-api.com/apikey\");\nxhr.setRequestHeader(\"content-type\", \"application/json\");\nxhr.setRequestHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/apikey\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  description: 'Nightly batch processing script',\n  active: true,\n  expiration_date_time: '2026-01-01T00:00:00.000Z',\n  ip_whitelist: '203.0.113.42, 198.51.100.0/24',\n  ip_blacklist: '192.0.2.10'\n}));\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/apikey\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"description\\\":\\\"Nightly batch processing script\\\",\\\"active\\\":true,\\\"expiration_date_time\\\":\\\"2026-01-01T00:00:00.000Z\\\",\\\"ip_whitelist\\\":\\\"203.0.113.42, 198.51.100.0/24\\\",\\\"ip_blacklist\\\":\\\"192.0.2.10\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\npayload = \"{\\\"description\\\":\\\"Nightly batch processing script\\\",\\\"active\\\":true,\\\"expiration_date_time\\\":\\\"2026-01-01T00:00:00.000Z\\\",\\\"ip_whitelist\\\":\\\"203.0.113.42, 198.51.100.0/24\\\",\\\"ip_blacklist\\\":\\\"192.0.2.10\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"/apikey\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/apikey\"\n\npayload = {\n    \"description\": \"Nightly batch processing script\",\n    \"active\": True,\n    \"expiration_date_time\": \"2026-01-01T00:00:00.000Z\",\n    \"ip_whitelist\": \"203.0.113.42, 198.51.100.0/24\",\n    \"ip_blacklist\": \"192.0.2.10\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/apikey\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"description\\\":\\\"Nightly batch processing script\\\",\\\"active\\\":true,\\\"expiration_date_time\\\":\\\"2026-01-01T00:00:00.000Z\\\",\\\"ip_whitelist\\\":\\\"203.0.113.42, 198.51.100.0/24\\\",\\\"ip_blacklist\\\":\\\"192.0.2.10\\\"}\"\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method POST \\\n  --header 'content-type: application/json' \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --body-data '{\"description\":\"Nightly batch processing script\",\"active\":true,\"expiration_date_time\":\"2026-01-01T00:00:00.000Z\",\"ip_whitelist\":\"203.0.113.42, 198.51.100.0/24\",\"ip_blacklist\":\"192.0.2.10\"}' \\\n  --output-document \\\n  - https://sandbox-base-api.gibank-api.com/apikey"}, {"lang": "Shell + Curl", "source": "curl --request POST \\\n  --url https://sandbox-base-api.gibank-api.com/apikey \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"description\":\"Nightly batch processing script\",\"active\":true,\"expiration_date_time\":\"2026-01-01T00:00:00.000Z\",\"ip_whitelist\":\"203.0.113.42, 198.51.100.0/24\",\"ip_blacklist\":\"192.0.2.10\"}'"}]}}, "/apikey/{apikey_id}": {"put": {"tags": ["API Keys"], "summary": "API Key: Update", "description": "Update an existing API Key. Useful to inactivate Keys or to inactivate and existing key.\n\n***Requires authorization.***\n", "operationId": "updateApiKey", "security": [{"CustomAPIAuthorizer": []}], "parameters": [{"name": "apikey_id", "in": "path", "description": "The api key ID that need to be updated", "required": true, "schema": {"type": "integer", "example": 1}}], "requestBody": {"description": "Content of the api key", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiKeyUpdate"}}}}, "responses": {"200": {"description": "Operation successful", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiKeyResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D\");\nvar request = new RestRequest(Method.PUT);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\nrequest.AddParameter(\"application/json\", \"{\\\"description\\\":\\\"Nightly batch processing script (Revoked)\\\",\\\"active\\\":false}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"REPLACE_KEY_VALUE\" },\n    },\n    Content = new StringContent(\"{\\\"description\\\":\\\"Nightly batch processing script (Revoked)\\\",\\\"active\\\":false}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D\"\n\n\tpayload := strings.NewReader(\"{\\\"description\\\":\\\"Nightly batch processing script (Revoked)\\\",\\\"active\\\":false}\")\n\n\treq, _ := http.NewRequest(\"PUT\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"description\\\":\\\"Nightly batch processing script (Revoked)\\\",\\\"active\\\":false}\");\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D\")\n  .put(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.put(\"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .body(\"{\\\"description\\\":\\\"Nightly batch processing script (Revoked)\\\",\\\"active\\\":false}\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = JSON.stringify({\n  \"description\": \"Nightly batch processing script (Revoked)\",\n  \"active\": false\n});\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"PUT\", \"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D\");\nxhr.setRequestHeader(\"content-type\", \"application/json\");\nxhr.setRequestHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"PUT\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/apikey/%7Bapikey_id%7D\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({description: 'Nightly batch processing script (Revoked)', active: false}));\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS => \"{\\\"description\\\":\\\"Nightly batch processing script (Revoked)\\\",\\\"active\\\":false}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\npayload = \"{\\\"description\\\":\\\"Nightly batch processing script (Revoked)\\\",\\\"active\\\":false}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"PUT\", \"/apikey/%7Bapikey_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D\"\n\npayload = {\n    \"description\": \"Nightly batch processing script (Revoked)\",\n    \"active\": False\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"PUT\", url, json=payload, headers=headers)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Put.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"description\\\":\\\"Nightly batch processing script (Revoked)\\\",\\\"active\\\":false}\"\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method PUT \\\n  --header 'content-type: application/json' \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --body-data '{\"description\":\"Nightly batch processing script (Revoked)\",\"active\":false}' \\\n  --output-document \\\n  - https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D"}, {"lang": "Shell + Curl", "source": "curl --request PUT \\\n  --url https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"description\":\"Nightly batch processing script (Revoked)\",\"active\":false}'"}]}}, "/apikey/{apikey_id}/history": {"get": {"tags": ["API Keys"], "summary": "API Key: Get History", "description": "Get API Key history\n\n***Requires authorization.***\n", "operationId": "getApiKeyHistory", "security": [{"CustomAPIAuthorizer": []}], "parameters": [{"name": "apikey_id", "in": "path", "description": "The api key ID", "required": true, "schema": {"type": "integer", "example": 1}}, {"name": "limit", "in": "query", "required": false, "description": "The limit for the pagination", "schema": {"type": "integer", "example": 100, "default": 100, "maximum": 1000}}, {"name": "offset", "in": "query", "required": false, "description": "The offset for the pagination", "schema": {"type": "integer", "example": 0, "default": 0}}], "responses": {"200": {"description": "Operation successful", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedConfigurationHistory"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history?limit=100&offset=0\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history?limit=100&offset=0\"),\n    Headers =\n    {\n        { \"Authorization\", \"REPLACE_KEY_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history?limit=100&offset=0\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history?limit=100&offset=0\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history?limit=100&offset=0\")\n  .header(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history?limit=100&offset=0\");\nxhr.setRequestHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/apikey/%7Bapikey_id%7D/history?limit=100&offset=0\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history?limit=100&offset=0\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/apikey/%7Bapikey_id%7D/history?limit=100&offset=0\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history\"\n\nquerystring = {\"limit\":\"100\",\"offset\":\"0\"}\n\nheaders = {\"Authorization\": \"REPLACE_KEY_VALUE\"}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history?limit=100&offset=0\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method GET \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - 'https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history?limit=100&offset=0'"}, {"lang": "Shell + Curl", "source": "curl --request GET \\\n  --url 'https://sandbox-base-api.gibank-api.com/apikey/%7Bapikey_id%7D/history?limit=100&offset=0' \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"}]}}, "/session": {"get": {"tags": ["Session & Traces"], "summary": "Session: Get Info", "description": "Get session info by using a valid API key\n\n***Requires authorization.***\n", "operationId": "getSessionInfo", "security": [{"CustomAPIAuthorizer": []}], "responses": {"200": {"description": "Operation successful", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SessionResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/session\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/session\"),\n    Headers =\n    {\n        { \"Authorization\", \"REPLACE_KEY_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/session\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/session\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/session\")\n  .header(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/session\");\nxhr.setRequestHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/session\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/session\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/session\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/session\"\n\nheaders = {\"Authorization\": \"REPLACE_KEY_VALUE\"}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/session\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method GET \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - https://sandbox-base-api.gibank-api.com/session"}, {"lang": "Shell + Curl", "source": "curl --request GET \\\n  --url https://sandbox-base-api.gibank-api.com/session \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"}]}}, "/auth-traces": {"get": {"tags": ["Session & Traces"], "summary": "Auth Traces: Get", "description": "Get authentication trace history for the current user.\nYou may pass an optional `user_id` query parameter to view traces for any user (of your company).\nOptionally filter by `company_id` to see all traces for users of a specific company.\nOptionally filter by `user_apikey_id` to see usage history for a specific API key.\nDefaults to your user.\nGoing back maximum 365 days.\n\n***Requires authorization.***\n", "operationId": "getAuthTraces", "security": [{"CustomAPIAuthorizer": []}], "parameters": [{"name": "user_id", "in": "query", "required": false, "description": "Filter by User ID", "schema": {"type": "integer"}}, {"name": "user_apikey_id", "in": "query", "required": false, "description": "Filter by API Key ID", "schema": {"type": "integer"}}, {"name": "company_id", "in": "query", "required": false, "description": "Filter by Company ID to see all traces for users of that company", "schema": {"type": "integer"}}, {"in": "query", "name": "limit", "required": false, "description": "The limit for the pagination", "schema": {"type": "integer", "example": 100, "default": 100, "maximum": 1000}}, {"in": "query", "name": "offset", "required": false, "description": "The offset for the pagination", "schema": {"type": "integer", "example": 0, "default": 0}}], "responses": {"200": {"description": "Operation successful", "content": {"application/json": {"schema": {"type": "object", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/UserAuthTraceResponse"}}, "limit": {"type": "number", "description": "The passed limit parameter for the pagination", "example": 10}, "offset": {"type": "number", "description": "The passed offset parameter for the pagination", "example": 0}, "total": {"type": "number", "description": "The total records for the pagination", "example": 20}}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0\"),\n    Headers =\n    {\n        { \"Authorization\", \"REPLACE_KEY_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0\")\n  .header(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0\");\nxhr.setRequestHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/auth-traces\"\n\nquerystring = {\"user_id\":\"SOME_INTEGER_VALUE\",\"user_apikey_id\":\"SOME_INTEGER_VALUE\",\"company_id\":\"SOME_INTEGER_VALUE\",\"limit\":\"100\",\"offset\":\"0\"}\n\nheaders = {\"Authorization\": \"REPLACE_KEY_VALUE\"}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method GET \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - 'https://sandbox-base-api.gibank-api.com/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0'"}, {"lang": "Shell + Curl", "source": "curl --request GET \\\n  --url 'https://sandbox-base-api.gibank-api.com/auth-traces?user_id=SOME_INTEGER_VALUE&user_apikey_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&limit=100&offset=0' \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"}]}}, "/balance": {"get": {"tags": ["Balances"], "summary": "Balance: Get", "description": "Get the [Available Balance](docs/concepts/balances.html#available-balance) for all user accounts associated with users from your company.\n\nIf a date is specified, the balance returned for each account will be the closing balance at the end of that day.\n\n***Requires authorization.***\n", "operationId": "getBalance", "security": [{"CustomAPIAuthorizer": []}], "parameters": [{"in": "query", "name": "date", "required": false, "description": "The date to retrieve the balances from. Balances retrieved will be the closing balance for that day (Please use UTC).", "schema": {"type": "string", "format": "date", "example": "2024-02-04"}}, {"in": "query", "name": "account_id", "required": false, "description": "A user_account id. If specified, only the balance for this user_account id will be returned.", "schema": {"type": "integer", "example": 123}}], "responses": {"200": {"description": "Operation successful", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BalanceResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/balance?date=2024-02-04&account_id=123\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/balance?date=2024-02-04&account_id=123\"),\n    Headers =\n    {\n        { \"Authorization\", \"REPLACE_KEY_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/balance?date=2024-02-04&account_id=123\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/balance?date=2024-02-04&account_id=123\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/balance?date=2024-02-04&account_id=123\")\n  .header(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/balance?date=2024-02-04&account_id=123\");\nxhr.setRequestHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/balance?date=2024-02-04&account_id=123\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/balance?date=2024-02-04&account_id=123\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/balance?date=2024-02-04&account_id=123\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/balance\"\n\nquerystring = {\"date\":\"2024-02-04\",\"account_id\":\"123\"}\n\nheaders = {\"Authorization\": \"REPLACE_KEY_VALUE\"}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"}, {"lang": "Ruby + Native", "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://sandbox-base-api.gibank-api.com/balance?date=2024-02-04&account_id=123\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}, {"lang": "Shell + Wget", "source": "wget --quiet \\\n  --method GET \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - 'https://sandbox-base-api.gibank-api.com/balance?date=2024-02-04&account_id=123'"}, {"lang": "Shell + Curl", "source": "curl --request GET \\\n  --url 'https://sandbox-base-api.gibank-api.com/balance?date=2024-02-04&account_id=123' \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"}]}}, "/balance/virtual": {"get": {"tags": ["Balances"], "summary": "Balance: Get Virtual", "description": "Get [Pending](docs/concepts/balances.html#pending-balance) and [Available](docs/concepts/balances.html#available-balance) balances for virtual accounts\n\n***Requires authorization.***\n", "operationId": "getBalanceVirtual", "security": [{"CustomAPIAuthorizer": []}], "parameters": [{"name": "account_number", "in": "query", "description": "A subclient virtual account number.", "schema": {"type": "string", "example": "12345"}}, {"name": "account_id", "in": "query", "description": "A subclient virtual account id.", "schema": {"type": "number", "example": 12345}}, {"name": "core_account_number", "in": "query", "description": "A core user account number.", "schema": {"type": "string", "example": "12345"}}, {"name": "core_account_id", "in": "query", "description": "A core user account id.", "schema": {"type": "number", "example": 12345}}, {"in": "query", "name": "limit", "required": false, "description": "The limit for the pagination", "schema": {"type": "integer", "example": 100, "default": 100, "maximum": 1000}}, {"in": "query", "name": "offset", "required": false, "description": "The offset for the pagination", "schema": {"type": "integer", "example": 0, "default": 0}}], "responses": {"200": {"description": "Operation successful", "content": {"application/json": {"schema": {"type": "object", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/AccountBalanceResponse"}}, "limit": {"type": "number", "description": "The passed limit parameter for the pagination", "example": 10}, "offset": {"type": "number", "description": "The passed offset parameter for the pagination", "example": 0}, "total": {"type": "number", "description": "The total records for the pagination", "example": 20}}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "x-codeSamples": [{"lang": "Csharp + Restsharp", "source": "var client = new RestClient(\"https://sandbox-base-api.gibank-api.com/balance/virtual?account_number=12345&account_id=12345&core_account_number=12345&core_account_id=12345&limit=100&offset=0\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"}, {"lang": "Csharp + Httpclient", "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://sandbox-base-api.gibank-api.com/balance/virtual?account_number=12345&account_id=12345&core_account_number=12345&core_account_id=12345&limit=100&offset=0\"),\n    Headers =\n    {\n        { \"Authorization\", \"REPLACE_KEY_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"}, {"lang": "Go + Native", "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://sandbox-base-api.gibank-api.com/balance/virtual?account_number=12345&account_id=12345&core_account_number=12345&core_account_id=12345&limit=100&offset=0\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"}, {"lang": "Java + Okhttp", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://sandbox-base-api.gibank-api.com/balance/virtual?account_number=12345&account_id=12345&core_account_number=12345&core_account_id=12345&limit=100&offset=0\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}, {"lang": "Java + Unirest", "source": "HttpResponse<String> response = Unirest.get(\"https://sandbox-base-api.gibank-api.com/balance/virtual?account_number=12345&account_id=12345&core_account_number=12345&core_account_id=12345&limit=100&offset=0\")\n  .header(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .asString();"}, {"lang": "Javascript + Xhr", "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://sandbox-base-api.gibank-api.com/balance/virtual?account_number=12345&account_id=12345&core_account_number=12345&core_account_id=12345&limit=100&offset=0\");\nxhr.setRequestHeader(\"Authorization\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"}, {"lang": "Node + Native", "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"sandbox-base-api.gibank-api.com\",\n  \"port\": null,\n  \"path\": \"/balance/virtual?account_number=12345&account_id=12345&core_account_number=12345&core_account_id=12345&limit=100&offset=0\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"}, {"lang": "Php + Curl", "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-base-api.gibank-api.com/balance/virtual?account_number=12345&account_id=12345&core_account_number=12345&core_account_id=12345&limit=100&offset=0\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"}, {"lang": "Python + Python3", "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-base-api.gibank-api.com\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/balance/virtual?account_number=12345&account_id=12345&core_account_number=12345&core_account_id=12345&limit=100&offset=0\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"}, {"lang": "Python + Requests", "source": "import requests\n\nurl = \"https://sandbox-base-api.gibank-api.com/balance/virtual\"\n\nquerystring = {\"account_number\":\"12345\",\"account_id\":\"12345\",\"core_account_number\":\"12345\",\"core_account_id\":\"12345\",\"limit\":\"100\",\"offset\":\"0\"}\n\nheaders = {\"Authorization\": \"REPLACE_KEY_VALUE\"}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=qu
[...]
